{%load static%}
<head>
    <link rel="stylesheet" href="{%static 'home/style/style.css' %}">
    <script src="{%static 'home/scripts/search.js' %}"></script>
</head>
<body>
    <div class="top-nav-group">
        <div class="first_three">
            <a href="http://127.0.0.1:8000/Projekt_v1/home/">
                Domek
            </a>
            <a id='news' href="http://127.0.0.1:8000/Projekt_v1/news/">News</a>
            <a id='forum' href="http://127.0.0.1:8000/Projekt_v1/forum/">Forum</a>
        </div>
        <div class="searchbar">
            <form  id="searchbar">
                Lupa
                <input type="search" placeholder="Search...                     or go through filters" style="width:280px; height:50px; background-color:#4B4B4B;">
                <div class="dropdown">
                    <button type="button" onclick="myFunction()" class="dropbtn">Dropdown</button>
                    <div id="myDropdown" class="dropdown-content">
                      <div class="types">
                        Type of specialist
                        <hr style="width: 160px;">
                        <form>
                            Psychotherapist<input type="checkbox"><br>
                            Psychiatrist<input type="checkbox"><br>
                        </form>
                        <br>
                        <div class="Practice">
                            Practice
                            <hr style="width: 85px;">
                            <form>
                                Public<input type="checkbox"><br>
                                Private<input type="checkbox"><br>
                            </form>
                        </div>
                        <div class="Specialization">
                            Specialization in
                            <hr style="width: 160px;">
                            <form>
                                Depression<input type="checkbox"><br>
                                ADHD<input type="checkbox"><br>
                                Bi-polar disorder<input type="checkbox"><br>
                                Anxiety attacks<input type="checkbox"><br>
                                Trauma<input type="checkbox"><br>
                                PTSD<input type="checkbox"><br>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </form>
        </div>
        <div class="last_two">
            <a id='login' href="http://127.0.0.1:8000/Projekt_v1/signup/">Sign up</a>
            <a id='login' href="http://127.0.0.1:8000/Projekt_v1/login/">Login</a>
        </div>
    </div>
    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        </script>
</body>