<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Class Screen</title>
    <link rel="stylesheet" href="{%static 'styles/news-page/news-page.css'%}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid" id="navbarContainer">
        <div class="navbarDiv">
          <ul id="leftPart">
            <li>
              <a href="{% url 'class' %}"
                ><img
                  src="{%static 'imgs&icons/news-page/icons8-home.svg'%}"
                  alt=""
              /></a>
            </li>
            <li><a href="{% url 'news' %}">NEWS</a></li>
            <li><a>FORUM</a></li>
          </ul>
        </div>
        <div class="navbarDiv">
          <div class="container-fluid inputWrapper">
            <img
              src="{%static 'imgs&icons/news-page/icons8-search.svg'%}"
              alt=""
              class="searchIcon"
            />
            <input type="text" id="mainInput" placeholder="Type something..." />
            <img
              src="{%static 'imgs&icons/news-page/icons8-expand-arrow-48.png'%}"
              alt=""
              id="expandArrow"
            />
          </div>
        </div>
        <div class="navbarDiv">
          <form id="buttonForm" action="{% url 'login' %}">
            <button id="loginSignup">LOG IN</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container dropDown">
      <div class="row">
        <div class="col-4 tagCol">
          <p class="tagLabel">Type of Specialist</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="psychotherapist"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Psychotherapist
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="psychiatrist"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Psychiatrist
            </label>
          </div>
          <p class="tagLabel mt-3">Practice</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="private"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Private
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="public"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Public
            </label>
          </div>
        </div>
        <div class="col-4 tagCol">
          <p class="tagLabel">Specialization <br />in</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="depression"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Depression
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="adhd"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              ADHD
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="bipolar"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Bi-polar disorder
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="anxiety"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Anxiety Attacks
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="trauma"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Trauma
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="ptsd"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              PTSD
            </label>
          </div>
        </div>
        <div class="col-4 tagCol">
          <p class="tagLabel pb-4">City</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="warsaw"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Warsaw
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="krakow"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Krakow
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="lodz"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Lodz
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="poznan"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Poznan
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="lublin"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Lublin
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="gdansk"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Gdansk
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid col-7" id="imgDiv">
        <div class="container-fluid" id="textDiv">
          <h1>
            Start looking for a specialist by typing in above or <br />choose
            from filters
          </h1>
        </div>
        <img
          src="{%static 'imgs&icons/news-page/image13.png'%}"
          alt="Touching hands"
          class="img-fluid"
          id="handsImg"
        />
      </div>
      <div class="container-fluid col-5" id="newsDiv">
        <div class="container-fluid" id="textDiv">
          <h1>News<br /></h1>
        </div>
        <div class="container-fluid newsBox">
          <div class="row">
            <div class="filler col-4"></div>
            <div class="newsTextDiv col-8">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum et magni ipsum iure blanditiis, velit aliquid excepturi
              dicta voluptas molestias ullam consequatur culpa doloremque optio
              quasi eligendi inventore tenetur quam!
              <button class="readMoreBtn">Read More</button>
            </div>
          </div>
        </div>
        <div class="container-fluid newsBox">
          <div class="row">
            <div class="filler col-4"></div>
            <div class="newsTextDiv col-8">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum et magni ipsum iure blanditiis, velit aliquid excepturi
              dicta voluptas molestias ullam consequatur culpa doloremque optio
              quasi eligendi inventore tenetur quam!
              <button class="readMoreBtn">Read More</button>
            </div>
          </div>
        </div>
        <div class="container-fluid newsBox">
          <div class="row">
            <div class="filler col-4"></div>
            <div class="newsTextDiv col-8">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum et magni ipsum iure blanditiis, velit aliquid excepturi
              dicta voluptas molestias ullam consequatur culpa doloremque optio
              quasi eligendi inventore tenetur quam!
              <button class="readMoreBtn">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{%static 'scripts/news-page/news-page.js'%}"></script>
  </body>
</html>
